@page "/players/edit/{playerId:int}"
@inject HttpClient http
@inject NavigationManager navigation

@using System.IO;
@using Tewr.Blazor.FileReader
@using TableTenisApp.Client.Auth

@inject HttpClient http
@inject IFileReaderService fileReader
@inject ILoginService loginService
@inject NavigationManager navigationManager


<br />
<br />
<br />
<br />
<br />
<div class="d-flex align-items-center justify-content-center">
    <h1 class="text-center">Edit Player</h1>
    <div class="p-2"></div>
    <div class="p-2 bd-highlight col-example">
        <div style="max-width: 500px;">
            <EditForm Model="@Player" OnValidSubmit="@EditPlayer">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <MudCard Class="pa-4 mr-16">
                    <MudTextField Label="First name"
                                  @bind-Value="Player.FirstName" For="@(() => Player.FirstName)" />

                    <MudTextField Label="Surname name"
                                  @bind-Value="Player.Surname" For="@(() => Player.Surname)" />

                    <MudTextField Label="Email"
                                  @bind-Value="Player.Email" For="@(() => Player.Email)" />

                    <MudTextField Label="Country"
                                  @bind-Value="Player.Country" For="@(() => Player.Country)" />

                    <br />
                    <MudItem xs="12" sm="12">
                        <MudDatePicker Label="Date" @bind-Date="date" />
                    </MudItem>
                    <br />
                    <MudItem xs="12" sm="12">
                        <MudNumericField @bind-Value="Player.Points" Label="Points" Variant="Variant.Text" Margin="Margin.Dense" />
                    </MudItem>

                    <br />

                    <MudItem xs="12" sm="12">
                        <input id="input-b2" name="input-b2" type="file" class="file btn btn-info" data-show-preview="false" @ref="inputReference" @onchange="async () => await OpenFileAsync()" />
                    </MudItem>

                    <MudItem xs="12" sm="12">
                        <div class="row">
                            <div class="col-4">

                                @if (!string.IsNullOrWhiteSpace(message))
                                {
                                    <div class="alert alert-success">
                                        File has been uploaded
                                    </div>
                                }
                            </div>
                            <div class="col-4">
                                @if (imagePath != null)
                                {
                                    <img style="width:150px" src="@imagePath" />
                                }
                            </div>
                        </div>
                    </MudItem>
                    <br />
                    <button class="btn btn-block btn-success" @onclick="async () => await EditPlayer()">Create Player</button>
                </MudCard>
            </EditForm>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int PlayerId { get; set; }


    DateTime? date = DateTime.Today;

    ElementReference inputReference;
    string message = string.Empty;
    string imagePath = null;

    string fileName = string.Empty;
    string type = string.Empty;
    string size = string.Empty;

    Stream fileStream = null;

    Player Player = new Player();

    protected async override Task OnParametersSetAsync()
    {
        Player = await http.GetJsonAsync<Player>($"api/players/{PlayerId}");
    }

    async Task EditPlayer()
    {

        // Create the content
        var content = new MultipartFormDataContent();
        content.Headers.ContentDisposition = new System.Net.Http.Headers.ContentDispositionHeaderValue("form-data");


        string extension = Path.GetExtension(fileName);
        fileName = Player.Email.ToString();

        content.Add(new StreamContent(fileStream, (int)fileStream.Length), "image", fileName + extension);

        string url = "https://localhost:44396";

        var response = await http.PostAsync($"{url}/api/pictures", content);

        if (response.IsSuccessStatusCode)
        {
            var uploadedFileName = await response.Content.ReadAsStringAsync();
            imagePath = $"{url}/{uploadedFileName}";
            message = "User Created";
            Player.DateOfBirth = (DateTime)date;
            Player.PicturePath = imagePath;
            await http.PutJsonAsync($"api/players/{PlayerId}", Player);
            navigation.NavigateTo("players");

        }



    }

    async Task OpenFileAsync()
    {
        // Read the files
        var file = (await fileReader.CreateReference(inputReference).EnumerateFilesAsync()).FirstOrDefault();

        if (file == null)
            return;

        // Get the info of that files
        var fileInfo = await file.ReadFileInfoAsync();
        fileName = fileInfo.Name;

        using (var ms = await file.CreateMemoryStreamAsync((int)fileInfo.Size))
        {
            fileStream = new MemoryStream(ms.ToArray());
        }
    }
}